[submodule "installs/vim"]
	path = installs/vim
	url = https://github.com/vim/vim.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
