[submodule "installs/vim"]
	path = vim
	url = https://github.com/vim/vim.git
[submodule "installs/fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "installs/tmux"]
	path = tmux
	url = https://github.com/tmux/tmux
